<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F56B3ZXXFY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-F56B3ZXXFY');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" href="default.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Eydia Time</title>
    <style>
        body {
            background-color: #5C348F;
            font-family: 'Tajawal', sans-serif;
        }

        .card {
            border-radius: 15px;
        }

        .shadow {
            -moz-box-shadow: 3px 3px 5px 6px #6e6e6e;
            -webkit-box-shadow: 3px 3px 5px 6px #6e6e6e;
            box-shadow: 3px 3px 5px 6px #6e6e6e;
        }

        img {
            overflow: hidden;
        }

        .grow {
            transition: all 0.2s ease-in-out;
        }

        .grow:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        .margin-top {
            margin-top: 14vh;
        }

        .finalEydia {
        }

        .rtl {
            direction: rtl;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="app">
        <div v-show="ediaBill">
            <h3 class="text-center margin-top text-white">اختار المبلغ الي تشوفه مناسب كعيدية</h3>
            <div class="row mt-5 justify-content-center">
                <div class="col-md-2 col-4">
                    <div @click="setEdia('1000')" class="card shadow bg-secondary">
                        <img :src="getImage('1000','v')" alt="" class="w-100 grow">
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div @click="setEdia('250')" class="card shadow bg-secondary">
                        <img :src="getImage('250','v')" alt="" class="w-100 grow">
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div @click="setEdia('500')" class="card shadow bg-secondary">
                        <img :src="getImage('500','v')" alt="" class="w-100 grow">
                    </div>
                </div>
            </div>
        </div>

        <div v-show="showForm">
            <h3 class="text-center mt-5 text-white">ثاني خطوة دخل معلومات صديقك</h3>
            <div class="row my-5 justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <div>
                                <div class="card mb-3">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <img :src="image" alt="" class="w-100">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
                                            <label class="text-center" for="exampleFormControlFile1">هنا خلي صورة
                                                الشخص</label>
                                            <input name="image" type="file" @change="onFileChange"
                                                   class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input v-model="name" type="text"
                                           class="rtl form-control btn-outline-dark bg-light border border-dark text-dark text-right"
                                           id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="اسم الشخص الي تريد تنطي عيدية">
                                </div>
                                <div class="form-group">
                                    <input v-model="reason" type="text"
                                           class="rtl form-control btn-outline-dark bg-light border border-dark text-dark text-right"
                                           id="exampleInputPassword1"
                                           placeholder="ليش تشوف هذا الشخص يستاهل العيدية؟">
                                </div>
                                <button @click="showAfterForm" class="btn btn-outline-dark btn-sm">دز العيدية
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="afterForm">
            <h3 class="text-center mt-5 text-white">و هسا عيدية صديقك جاهزة وتكدر تروح تراويلهيا</h3>
            <div class="row my-5 justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-6">
                                    <img :src="image" alt="" class="w-100">
                                </div>
                            </div>
                            <h4 class="text-center mt-4 text-xl">{{name}}</h4>
                            <h5 class="text-center mt-2 text-md">{{reason}}</h5>
                            <!--come here baby-->
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <h5 class="text-center text-md"> :') و هاي العيدية</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center finalEydia">
                                <div class="col-12">
                                    <img :src="getImage(edia,'h')" alt="" class="w-100">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            image: "",
            name: "",
            reason: "",
            edia: "",

            ediaBill: true,
            showForm: null,
            afterForm: null,
        },
        methods: {
            getImage(bill, direction) {
                switch (bill) {
                    case "1000":
                        return `/images/1000-${direction}.jpg`;
                    case "250":
                        return `/images/250-${direction}.jpg`;
                    case "500":
                        return `/images/500-${direction}.jpg`;
                }
            },
            setEdia(edia) {
                this.ediaBill = false;
                this.showForm = true;
                this.edia = edia
            },
            showAfterForm() {
                if (this.name == "" || this.reason == "") {
                    alert("لازم تكتب اسم صديقك و ليش دتنطي عيدية")
                } else {
                    this.showForm = false;
                    this.afterForm = true;
                }
            },
            onFileChange(e) {
                console.log(e);
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        },
    })
</script>

</body>
</html>